<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.graduation.entity.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="special" column="special" jdbcType="VARCHAR"/>
            <result property="college" column="college" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="graduateDate" column="graduate_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,account,
        password,birthday,special,
        college,education,phone,
        sex,photo,graduate_date
    </sql>
</mapper>
