<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.UserMenuMapper">

    <resultMap id="BaseResultMap" type="com.graduation.entity.UserMenu">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,menu_id
    </sql>
</mapper>
